<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <div class="hero-order bg-img" style="height: 100px!important;">
        <img src="../static/photo/img.svg" alt="" style="top: 0; width: 300px; height: 60px; margin-left: 25px">
      
    </div>
   
    <div class="grey_bg pdt-70" style="margin-top: 200px;"> <a href="./index.html" style="text-decoration: none; color:black;  margin-left: 50px; ">Back</a>
        <div class="container">
            <div class="row" >
                <div class="col-sm-5 feature-block">
                    <img class="img-responsive center-block"  style="width: 100%; margin-left:0" src="https://avatars.mds.yandex.net/get-altay/1938975/2a000001701eebcd684313d42ef860e2e1ae/XXL">
                </div>

                <div class="feature-block col-sm-7">
                    <h4 style="font-size: 40px;">Ресторан <span>"Пятый океан"</span></h4>
                    <p>Приятно проводите время, отдохните и насладитесь изысканными блюдами авторской кухни в ресторане "Пятый океан". К нам приходят с друзьями и семьей, проводят романтические свидания с любимыми и деловые встречи с партнерами. Морские деликатесы и блюда нашего шеф-повара способны не просто удовлетворить вкусы посетителей, но и приятно удивить даже настоящих гурманов.
                    </p>
                
                </div>
            </div>
        </div>
    </div>
    <hr style = "margin-top: 160px;">
    <p class="aboutus2" style = "margin-top: 130px; font-weight: 500!important;">Атмосфера</p>
    <div class="grid">
        <div class="item" style="background-image: url(https://sun9-53.userapi.com/impg/c858132/v858132691/196623/QpyMXUXGdAI.jpg?size=1080x1080&quality=96&sign=17eb0a413e43548ab4c76f551824c71b&type=album://sun9-54.userapi.com/impg/vLYwqDzMABO_2y_qF776zhQIJEzRrRym5PMLQQ/l5lFWTkjk9E.jpg?size=720x720&quality=96&sign=e4899e200d9047a33d4c12c3bdb5f580&type=album)"></div>
        
        <div class="item" style="background-image: url(https://sun9-15.userapi.com/impg/c857532/v857532464/208186/7DGHZMPCy4k.jpg?size=1209x806&quality=96&sign=d976171234aec72c83cd2f4263f9dda0&type=album)"></div>
        
        <div class="item" style="background-image: url(https://sun9-67.userapi.com/impg/m0qcENXCK9FP0Y10GhyYpzSy1Ji3uq8ME13Dkw/QHeiMQY5hW4.jpg?size=1920x1279&quality=96&sign=94bb2b7223501516ee889b4caf1dd011&type=album)"></div>
        
        <div class="item" style="background-image: url(https://sun9-23.userapi.com/impg/c858336/v858336691/1976b5/zppcw7iGil8.jpg?size=1080x1080&quality=96&sign=13c308accd16ab254c674ae68dc0598f&type=album)"></div>
        
        <div class="item" style="background-image: url(https://sun9-88.userapi.com/impg/aeqiZleEatCPfhuNDouSkk_mNbeEozVdvig4eg/QqFzNhqlquY.jpg?size=1080x1080&quality=96&sign=122c843ff99b76f8ccb8dd0504f79082&type=album)"></div>
      </div>
</body>
</html>