<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
        
    <title>Document</title>
</head>
<body>
    <footer class="footer_line">
        <div style="display:flex; justify-content:end; align-items: center; align-content: flex-end;">
            <div class="container">
                <div class="wrapper">
        
                    <a href="https://vk.com/fanat_ogurcov?ysclid=lb4ru0fvfe392351318" class="icon-container icon-container-vk">
                        <i class="fab fa-vk"></i>
                        
                    </a>
                    <a href="#" class="icon-container icon-container-twitter">
                        <i class="fab fa-twitter"></i>
                        
                    </a>
                    <a href="#" class="icon-container icon-container-instagram">
                        <i class="fab fa-instagram"></i>
                        
                    </a>


                </div>
            </div>
        </div>
        <div style="display:flex; justify-content: center;align-items: center;">
        <a  href="#" >Политика в отношении обработки персональных данных</a>
        </div>
    </footer>
</body>
</html>